@model Gamesscores.Models.GameList

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>GameList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="GameLists" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Releaseyear" class="control-label">Release year</label>
                <input asp-for="Releaseyear" class="form-control" />
                <span asp-validation-for="Releaseyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gamename" class="control-label">Game name</label>
                <input asp-for="Gamename" class="form-control" />
                <span asp-validation-for="Gamename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Image Url</label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group mt-sm-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-protocol="https" asp-host="localhost:44380" asp-controller="GameLists" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
