@model IEnumerable<Highscore>
@{
    ViewData["Title"] = "Asteroids";
}

<article class="bodyArt">

    <section class="headSec">
        <div class="textSec">
            <h1>@ViewData["Title"]</h1>

            <span>
                Asteroids is a space-themed multidirectional shooter arcade game designed by Lyle Rains, 
                Ed Logg, and Dominic Walsh and released in November 1979 by Atari, Inc. The player controls 
                a single spaceship in an asteroid field which is periodically traversed by flying saucers.
            </span>
            <div class="div1">
                <Label>Genre:</Label>
                <div>Arcade game</div>

            </div>
            <div class="div2">
                <Label>Release Year:</Label>
                <div>1979</div>

            </div>
        </div>

        <div class="imageRam gameDiv">
            <img src="/image/Asteroids.png" class="img-thumbnail card-img-top" alt="Alternate Text" />
        </div>

    </section>

    <partial name="_Leaderboard" />    

</article>

