@model Highscore
@{
    ViewData["Title"] = "Register New HighScore";

}

<h2 class="text-center text-primary mb-4">
    @ViewData["Title"]
</h2>

<div class="col-md-6">
    <form enctype="multipart/form-data" asp-controller="Highscores" asp-action="Create" method="post">
        <div class="form-group ">
            <label class="font-weight-bold" asp-for="Game"></label>
            <select class="form-control" asp-for="Game" asp-items="new SelectList(ViewBag.Games)">
                <option value="">Please Select ...</option>
            </select>

            @*<select tag- class="form-control" asp-for="Game">
            <option value="">Please Select ...</option>
            <option value="Asteroids">Asteroids</option>
            <option value="Donkey_Kong">Donkey_Kong</option>
            <option value="Pacman">Pacman</option>
            <option value="Tetris">Tetris</option>
        </select>*@
            <span asp-validation-for="Game" class="text-danger"></span>

            @*<select class="form-control" asp-for="GameName" asp-items="Html.GetEnumSelectList<Games>()"></select>*@

        </div>
        <div class="form-group ">
            <label class="font-weight-bold" asp-for="Fullname"></label>
            <input class="form-control" placeholder="Player ..." asp-for="Fullname" />
            <span asp-validation-for="Fullname" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label class="font-weight-bold" asp-for="Date"></label>
            <input class="form-control" asp-for="Date" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label class="font-weight-bold" asp-for="Score"></label>
            <input class="form-control" placeholder="Score ..." asp-for="Score" />
            <span asp-validation-for="Score" class="text-danger"></span>
        </div>
        <div>
            <button class="btn btn-primary col-sm-3 font-weight-bold">Register</button>
        </div>
        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom.file-label').html(filName);
                    });
                });

            </script>
        }
    </form>
</div>