@model IEnumerable<Highscore>
@{
    ViewData["Title"] = "Pacman";
}

<article class="bodyArt">

        <section class="headSec">
            <div class="textSec">
                <h1>@ViewData["Title"]</h1>

                <span>
                    Pac-Man is a Japanese video game franchise published, developed 
                    and owned by Bandai Namco Entertainment. Entries have been developed 
                    by a wide array of other video game companies, including Midway Games, Atari and Mass Media, Inc.
                </span>
                <div class="div1">
                    <Label>Genre:</Label>
                    <div>Action game</div>

                </div>
                <div class="div2">
                    <Label>Release Year:</Label>
                    <div>1984</div>

                </div>
            </div>

            <div class="imageRam gameDiv">
                <img src="/image/Pacman2.png" class="img-thumbnail card-img-top" alt="Alternate Text" />
            </div>

        </section>

        <partial name="_Leaderboard" />
       

    </article>

