@{
    ViewData["Title"] = "Index";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


<h2>Description</h2>

<p>This is Assignment 1 for ASP.NET Core, where you will put the first parts of Highscores in place.</p>

<h2>Restrictions</h2>

<p>ASP.NET Core MVC must be used.</p>
<p>Entity Framework Core and SQL Server must be used.</p>

<h2>Criteria for Pass (G)</h2>
<br />
<p>To obtain a grade of Pass (G), the following is required:</p>
<br />

<p> 1- All wireframes have been implemented.</p>
<p>2- You can see global high scores on the start page.</p>
<p>3- You can see details for a game.</p>
<p>4- It is possible to register a new high score.</p>